<%= simple_form_for(@project) do |f| %>
<%= f.error_notification %>



<div class = "project-padding">
  <div class="form-inputs">
    <div class="box has-background-dark">
      <div class="control">
        <div class="field">
            <%= f.input :project, required: true, autofocus: true, input_html: {autocomplete: "Project Name"} %>
        </div>
      </div>
      <div class="control">
        <div class="field">
            <%= f.input :description, required: true, autofocus: true, input_html: {autocomplete: "Project Description"} %>
        </div>
      </div>
      <div class="control">
        <div class="field">
          <p class = "is-size-6 has-text-success">
                  Start Date
                  <%= f.date_field :startdate %>
                </p>
        </div>
      </div>
    </div>
    <div class = "actions">
        <%= f.button :submit, class: 'button is-success' %>
        <%= link_to 'Back', projects_path, class: 'button is-success' %>
    </div>
  </div>
</div>


<% end %>
