<% if user_signed_in? %>
<div class= "columns is-variable is-0">
  <div>
    <div class="sidebar sidebar-padding-x has-background-dark">
      <div class = "menu-wrapper sidebar-padding-y">
        <aside class="menu">
          <br><br>
          <p class="menu-label is-size-6">Projects</p>
          <%= link_to 'New Project', new_project_path, class: 'button sidebar-item is-success opacity-1 has-text-white has-box-shadow' %>
          <br>
          <br>
          <div class="columns">
            <div class="column sidebar-column-margin">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button sidebar-column-button-width has-box-shadow is-dark has-text-grey">
                    <span>Owned</span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content sidebar-column-button-width has-background-dark">
                    <% @projects.each do |project| %>
                      <% if project.user == current_user %>
                        <%= link_to project.project, project, class: 'dropdown-item has-text-grey has-text-left' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button sidebar-column-button-width has-box-shadow is-dark has-text-grey">
                    <span>Member</span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content sidebar-column-button-width has-background-dark">
                    <% @projects.each do |project| %>
                      <% if project.user == current_user %>
                        <%= link_to project.project, project, class: 'dropdown-item has-text-grey has-text-left' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p class="menu-label is-size-6">Teams</p>
          <%= link_to 'New Team', new_project_path, class: 'button sidebar-item is-success opacity-1 has-text-white has-box-shadow' %>
          <br>
          <br>
          <div class="columns">
            <div class="column sidebar-column-margin">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button sidebar-column-button-width has-box-shadow is-dark has-text-grey">
                    <span>Owned</span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content sidebar-column-button-width has-background-dark">
                    <% @projects.each do |project| %>
                      <% if project.user == current_user %>
                        <%= link_to project.project, project, class: 'dropdown-item has-text-grey has-text-left' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button sidebar-column-button-width has-box-shadow is-dark has-text-grey">
                    <span>Member</span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content sidebar-column-button-width has-background-dark">
                    <% @projects.each do |project| %>
                      <% if project.user == current_user %>
                        <%= link_to project.project, project, class: 'dropdown-item has-text-grey has-text-left' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<% end %>
