

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class = "login-padding">
  <div class="form-inputs">
    <div class = "box has-background-dark ">
      <div class = "control">
        <p class = "has-text-centered has-text-success has-small-margin">Email</p>
        <div class = "field">
          <input class = "input is-success has-background-dark has-text-white" type = "email">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>
      <div class = "control">
        <p class = "has-text-centered has-text-success has-small-margin"> Password</p>
        <input class = "input is-success has-background-dark has-text-white" type = "password">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <span>
        <div class = "buttons are-medium has-medium-margin">
          <button class = "button is-success">
            <div class = "form-actions">
              <p class = "is-size-6"><%= f.button :submit, "Log in" %></p>
            </div>
          </button>
        </div>
      </span>
    </div>

<%= render "devise/shared/links" %>

</div>

<% end %>
